/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Generali */

:root {
    --border: 1px dashed;
    --border2: 2px dashed;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header,
footer {
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 32px;
    margin-bottom: 15px;
}

h4 {
    font-size: 26px;
    margin-bottom: 15px;
}

p {
    font-size: 17px;
    line-height: 25px;
}

button {
    font-size: 15px;
}

i {
    margin-right: 10px;
}

.margin200 {
    margin: 0 200px;
}

button,
a {
    cursor: pointer;
}

/* Utility */

.nav-box,
.general-container,
.button-container,
.tertiary-footer-container {
    width: 1080px;
}

.primary-container,
.secondary-container {
    min-height: 440px;
}

.contbkg,
footer>div,
.button-container,
main,
header,
.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
    background-image: url(../img/jumbo.png);
    min-height: 50px;
}

.secondary-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-box {
    min-height: 30px;
    display: flex;
    align-items: center;
}

.jumbotron {
    width: 800px;
    height: 300px;
    text-align: center;
    flex-wrap: wrap;
}

.secondary-header {
    min-height: 600px;
}

/* Nav Header */

.logo,
.link,
.login {
    min-height: 30px;
    display: inline-block;
    width: 25%;
}

.radius {
    border-radius: 30px;
    border: none;
}

.login {
    text-align: right;
}

.link {
    width: 50%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    margin: 18px;
    font-size: 15px;
}

header>div>button {
    width: 230px;
    height: 40px;
    margin: 15px;
    padding: 5px 15px;
}

.black {
    background-color: black;
    color: white;
}

/* Container */

main {
    flex-wrap: wrap;
    margin: 0 auto;
}

.general-container {
    display: flex;
    margin: 30px 0;
}

.primary-container {
    flex-basis: calc(100% / 3 * 2);
}

.secondary-container {
    flex-basis: calc(100% / 3);
    padding-top: 40px;
}

.reverse {
    flex-direction: row-reverse;
}

.contbkg {
    background-color: gray;
    width: 100%;
}

.download-container {
    flex-basis: 100%;
    min-height: 800px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pt-10 {
    padding-top: 10px;
}

/* Footer */

footer>div {
    background-color: black;
    width: 100%;
}

.primary-footer-container {
    flex-basis: calc(100% / 4 * 3);
    display: flex;
}

.secondary-footer-container {
    flex-basis: calc(100% / 4);
}

.col-footer {
    width: 25%;
    min-height: 100%;
    display: inline-block;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    height: 40px;
    justify-content: space-between;
    border-top: 1px solid white;
}

.tertiary-footer-container {
    display: flex;
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-footer,
button {
    width: 5%;
    min-height: 60%;
    display: inline-block;
}

button {
    min-width: 60px;
    min-height: 25px;
    background-color: white;
}

.measures {
    width: 230px;
    height: 40px;
    margin: 0 90px;
    padding: 5px 15px;
    background-color: rgb(121, 131, 245);
    color: white;
}

.w100 {
    width: 100%;
}

.bkgstar {
    display: inline;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

select {
    border: none;
    background-color: transparent;
}

.flag {
    height: 15px;
}

.cfoot {
    color: rgb(121, 131, 245);
    ;
}

h5 {
    margin: 5px;
    font-size: 15px;
}

.abottom {
    margin: 5px;
    font-size: 15px;
}

select {
    margin-bottom: 15px;
    color: white;
}

.social {
    margin: 0;
}

.finalbutton {
    width: 80px;
    text-align: center;
    color: white;
    background-color: rgb(121, 131, 245);
}